body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.lift {
    z-index: 2;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

.no-padding {
    padding: 0 !important;
}

@media screen and (max-width: 390px){
    .table th, .table td {
        padding: 0.20rem !important;
    }
}

@media screen and (max-width: 1200px) {
    .mapboxgl-ctrl-geocoder {
        width: 100% !important;
        font-size: 15px !important;
        line-height: 20px !important;
        max-width: inherit !important;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
        left: 7px !important;
        width: 20px !important;
        height: 20px !important;
    }

    .mapboxgl-ctrl-geocoder--icon {
        top: 8px !important;
    }

    .mapboxgl-ctrl-geocoder--input {
        height: 36px !important;
        padding: 6px 35px !important;
    }

    .mapboxgl-ctrl-geocoder .suggestions {
        font-size: 13px !important;
    }

    .mapboxgl-ctrl-geocoder--icon-close {
        width: 16px !important;
        height: 16px !important;
        margin-top: 3px !important;
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
        margin: auto;
        margin-right: 0;
    }
}